@use "utility";
@use "variables";



%general-button {
    @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
    font-size: medium;
    border: 1px solid variables.$border-color;
    background-color: transparent;
    border-radius: 3px;
}

%icon-button {
    @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}



html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    user-select: none;
    align-items: center;
    column-gap: 16px;

    img {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 48px;
        white-space: nowrap;
    }
}

.contents {
    height: 100%;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vh;
    margin-bottom: 15vh;
    display: flex;
    border: 1px solid variables.$border-color;
    overflow-y: hidden;
}

.tab-bar {
    display: flex;
    flex-direction: column;
    background-color: variables.$primary-color;
}

.tab-button {
    @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
    border: none;
    background-color: transparent;
    text-align: left;
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.active {
    background-color: darken(variables.$hover-color, 20%);

    &:hover, &:active {
        background-color: darken(variables.$hover-color, 20%);
    }
}

.tab {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#reddit-add-form, #rss-add-form {
    display: flex;
    column-gap: 10px;
    align-items: center;

    & > label {
        font-size: medium;
    }

    & > input {
        @include utility.writable(variables.$focus-color, variables.$valid-color, variables.$invalid-color);
        flex-grow: 1;
        padding: 0.3rem;
        border: none;
        border-radius: 3px;
    }

    & > button {
        @extend %general-button;
        align-self: stretch;
    }
}

#settings-form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 20px;

    & > div {
        display: flex;
        column-gap: 10px;
        align-items: center;
        position: relative;

        & > label {
            font-size: medium;
        }
    
        & > input {
            @include utility.writable(variables.$focus-color, variables.$valid-color, variables.$invalid-color);
            flex-grow: 1;
            padding: 0.3rem;
            border: none;
            border-radius: 3px;
        }

        & > span {
            position: absolute;
            right: 30px;
        }
    }

    & > #apply-button-container {
        display: flex;
        justify-content: end;

        & > button {
            @extend %general-button;
            align-self: stretch;
        }
    }
}

#reddit-feeds-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
    flex-grow: 1;
    border: 1px solid variables.$border-color;
    overflow-y: auto;

    & > div {
        display: flex;
        flex-direction: column;

        & > a {
            @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
            @include utility.link();
            padding: 5px;
            font-size: 18px;
        }

        & > div {
            display: flex;
            flex-direction: column;

            & > div {
                display: flex;

                &:nth-child(even) {
                    background-color: variables.$secondary-color;
                }

                & > a {
                    @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
                    @include utility.link();
                    flex-grow: 1;
                    padding-left: 30px;
                    font-size: 16px;
                }

                & > button {
                    @extend %icon-button;
                }
            }
        }
    }
}

#rss-feeds-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    flex-grow: 1;
    border: 1px solid variables.$border-color;
    overflow-y: auto;

    & > div {
        display: flex;

        &:nth-child(even) {
            background-color: variables.$secondary-color;
        }

        & > a {
            @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
            @include utility.link();
            flex-grow: 1;
            padding-left: 5px;
            font-size: 16px;
        }

        & > button {
            @extend %icon-button;
        }
    }
}

#settings-sub-container {
    display: flex;
    column-gap: 5px;
    flex-grow: 1;

    & > button {
        @extend %general-button;
        align-self: flex-end;
    }

    & > a {
        align-self: flex-end;
        margin-left: auto;
    }
}
