@use "utility";
@use "variables";



html {
    height: 100%;
}

body {
    width: 300px;
    height: 400px;
    margin: 0px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color: variables.$primary-color;
    user-select: none;
}

.nav-bar {
    border: 1px solid variables.$border-color;
    padding: 3px;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-button {
    @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#posts-list {
    border: 1px solid variables.$border-color;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;

    &:nth-child(even) {
        background-color: variables.$secondary-color;
    }

    & > div {
        @include utility.clickable(variables.$hover-color, darken(variables.$hover-color, 20%));
        border-bottom: 1px solid variables.$border-color;
        border-right: 1px solid variables.$border-color;
        padding: 5px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        // Source paragraph.
        & > :nth-child(1) {
            margin: 1px;
            font-size: smaller;
        }

        // Title paragraph.
        & > :nth-child(2) {
            margin: 1px;
            font-size: small;
            font-weight: bold;
        }

        // Created paragraph.
        & > :nth-child(3) {
            margin: 1px;
            font-size: x-small;
            font-style: italic;
            align-self: flex-end;
        }
    }

    & > button {
        @include utility.clickable(darken(variables.$hover-color, 20%), darken(variables.$hover-color, 30%));
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid variables.$border-color;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.no-posts-label {
    margin: 0px;
    font-size: large;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
